@import "tailwindcss";

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserif4/v14/vEFI2_tTDB4M7-auWDN0ahZJW1gW8tenXg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* work-sans-100 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/work-sans-v24-latin-100.woff2") format("woff2");
}
/* work-sans-100italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/work-sans-v24-latin-100italic.woff2") format("woff2");
}
/* work-sans-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/work-sans-v24-latin-200.woff2") format("woff2");
}
/* work-sans-200italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/work-sans-v24-latin-200italic.woff2") format("woff2");
}
/* work-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/work-sans-v24-latin-300.woff2") format("woff2");
}
/* work-sans-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/work-sans-v24-latin-300italic.woff2") format("woff2");
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v24-latin-regular.woff2") format("woff2");
}
/* work-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/work-sans-v24-latin-italic.woff2") format("woff2");
}
/* work-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/work-sans-v24-latin-500.woff2") format("woff2");
}
/* work-sans-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/work-sans-v24-latin-500italic.woff2") format("woff2");
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/work-sans-v24-latin-600.woff2") format("woff2");
}
/* work-sans-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/work-sans-v24-latin-600italic.woff2") format("woff2");
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/work-sans-v24-latin-700.woff2") format("woff2");
}
/* work-sans-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/work-sans-v24-latin-700italic.woff2") format("woff2");
}
/* work-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/work-sans-v24-latin-800.woff2") format("woff2");
}
/* work-sans-800italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/work-sans-v24-latin-800italic.woff2") format("woff2");
}
/* work-sans-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/work-sans-v24-latin-900.woff2") format("woff2");
}
/* work-sans-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/work-sans-v24-latin-900italic.woff2") format("woff2");
}

@theme {
  /* Define the custom font family */
  --font-source-serif-4: "Source Serif 4", serif;

  --color-primary-50: #f9f1ee;
  --color-primary-100: #f1e1db;
  --color-primary-200: #e5c3b6;
  --color-primary-300: #d19984;
  --color-primary-400: #b2664a;
  --color-primary-500: #994422;
  --color-primary-600: #83310b;
  --color-primary-700: #6c2607;
  --color-primary-800: #571f07;
  --color-primary-900: #461b0a;
  --color-primary-950: #280d04;
  --color-primary: #994422;

  --color-secondary-50: #f1f3f0;
  --color-secondary-100: #e1e6e0;
  --color-secondary-200: #c3cdc0;
  --color-secondary-300: #9aab96;
  --color-secondary-400: #6a8164;
  --color-secondary-500: #4b6544;
  --color-secondary-600: #3a5333;
  --color-secondary-700: #2e4328;
  --color-secondary-800: #253620;
  --color-secondary-900: #1f2c1b;
  --color-secondary-950: #0f170d;
  --color-secondary: var(--color-secondary-500);

  --color-neutral-50: #fcfbfb;
  --color-neutral-100: #f8f7f6;
  --color-neutral-200: #f1efed;
  --color-neutral-300: #e8e4e1;
  --color-neutral-400: #dcd6d2;
  --color-neutral-500: #d3ccc8;
  --color-neutral-600: #aea7a4;
  --color-neutral-700: #908a87;
  --color-neutral-800: #77726f;
  --color-neutral-900: #63605e;
  --color-neutral-950: #3b3938;
  --color-neutral: var(--color-neutral-500);
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.headline-lg {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Source Serif 4", serif;
}

.headline-md {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: "Source Serif 4", serif;
}

.label-sm {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

.body-lg {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.body-md {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.body-sm {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

/* add the code bellow */
@utility scrollbar-none {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
