@import "tailwindcss";

@theme {
  --color-primary-50: #f8efeb;
  --color-primary-100: #ebd1c7;
  --color-primary-200: #deb4a3;
  --color-primary-300: #d29780;
  --color-primary-400: #c5795c;
  --color-primary-500: #B85C38;
  --color-primary-600: #91482c;
  --color-primary-700: #6a3520;
  --color-primary-800: #432114;
  --color-primary-900: #1c0e08;

  --color-secondary-50: #eaedea;
  --color-secondary-100: #c4cbc3;
  --color-secondary-200: #9eaa9c;
  --color-secondary-300: #798975;
  --color-secondary-400: #53674f;
  --color-secondary-500: #2D4628;
  --color-secondary-600: #233720;
  --color-secondary-700: #1a2817;
  --color-secondary-800: #10190f;
  --color-secondary-900: #070b06;

  --color-tertiary-50: #fefdfa;
  --color-tertiary-100: #fcf9f2;
  --color-tertiary-200: #faf6e9;
  --color-tertiary-300: #f8f2e1;
  --color-tertiary-400: #f6efd8;
  --color-tertiary-500: #F4EBD0;
  --color-tertiary-600: #c0b9a4;
  --color-tertiary-700: #8c8778;
  --color-tertiary-800: #58554b;
  --color-tertiary-900: #25231f;

  --color-neutral-50: #edeceb;
  --color-neutral-100: #ccc9c6;
  --color-neutral-200: #aca7a2;
  --color-neutral-300: #8b847e;
  --color-neutral-400: #6b6259;
  --color-neutral-500: #4A3F35;
  --color-neutral-600: #3a322a;
  --color-neutral-700: #2b241e;
  --color-neutral-800: #1b1713;
  --color-neutral-900: #0b0908;

  --color-alabaster-50: #fafafa;
  --color-alabaster-100: #efefef;
  --color-alabaster-200: #dcdcdc;
  --color-alabaster-300: #bdbdbd;
  --color-alabaster-400: #989898;
  --color-alabaster-500: #7c7c7c;
  --color-alabaster-600: #656565;
  --color-alabaster-700: #525252;
  --color-alabaster-800: #464646;
  --color-alabaster-900: #3d3d3d;
  --color-alabaster-950: #292929;

  --color-viking-50: #edfefd;
  --color-viking-100: #d0fbfd;
  --color-viking-200: #a7f5fa;
  --color-viking-300: #6becf5;
  --color-viking-400: #28d8e8;
  --color-viking-500: #0dd2e7;
  --color-viking-600: #0d96ad;
  --color-viking-700: #12788c;
  --color-viking-800: #186172;
  --color-viking-900: #185161;
  --color-viking-950: #0a3542;
  --color-viking: var(--color-viking-500);

  --color-rust-50: #fff8eb;
  --color-rust-100: #fff1cf;
  --color-rust-200: #ffdf9f;
  --color-rust-300: #ffc562;
  --color-rust-400: #ff9e23;
  --color-rust-500: #ff8000;
  --color-rust-600: #ff6100;
  --color-rust-700: #da4600;
  --color-rust-800: #af3800;
  --color-rust-900: #8a2f04;
  --color-rust-950: #4b1400;
  --color-rust: var(--color-rust-800);
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

/* add the code bellow */
@utility scrollbar-none {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
